:root{
    --a-link: #2cb1e6;

    //Cores azuladas
    
    --primary-color: #2c84c6;
    --secondary-color: #B8D8FF;
    --tertiary-color: #014D92;
    --border-color: #80b5dd;
    --list-primary-color: #e0edf7;
    --list-secondary-color: #cae0f1;
    --hover: #0D2952;
    --mobile-topo: #042d67;
    --fundo-icone: #163769;
    --active-color:#0D2952;
    
   
    //Cores avermelhadas
    /* --primary-color: #d25050;
    --secondary-color: #fce3e3;
    --tertiary-color: #ad0000;
    --hover: #891313; */

    /* --mobile-topo: #9f0c05;
    --fundo-icone: #bb312a75; */

}