@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vrzsmv');
  src:  url('fonts/icomoon.eot?vrzsmv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vrzsmv') format('truetype'),
    url('fonts/icomoon.woff?vrzsmv') format('woff'),
    url('fonts/icomoon.svg?vrzsmv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Importante .path1:before {
  content: "\e906";
  color: rgb(208, 208, 208);
}
.icon-Importante .path2:before {
  content: "\e907";
  margin-left: -0.9873046875em;
  color: rgb(177, 177, 177);
}
.icon-Importante .path3:before {
  content: "\e908";
  margin-left: -0.9873046875em;
  color: rgb(254, 254, 254);
}
.icon-Leitura_Complementar .path1:before {
  content: "\e909";
  color: rgb(208, 208, 208);
}
.icon-Leitura_Complementar .path2:before {
  content: "\e90a";
  margin-left: -1.0498046875em;
  color: rgb(254, 254, 254);
}
.icon-Leitura_Complementar .path3:before {
  content: "\e90b";
  margin-left: -1.0498046875em;
  color: rgb(208, 208, 208);
}
.icon-Leitura_Complementar .path4:before {
  content: "\e90c";
  margin-left: -1.0498046875em;
  color: rgb(208, 208, 208);
}
.icon-Leitura_Complementar .path5:before {
  content: "\e90d";
  margin-left: -1.0498046875em;
  color: rgb(208, 208, 208);
}
.icon-Leitura_Complementar .path6:before {
  content: "\e90e";
  margin-left: -1.0498046875em;
  color: rgb(208, 208, 208);
}
.icon-Leitura_Complementar .path7:before {
  content: "\e90f";
  margin-left: -1.0498046875em;
  color: rgb(208, 208, 208);
}
.icon-Leitura_Complementar .path8:before {
  content: "\e910";
  margin-left: -1.0498046875em;
  color: rgb(208, 208, 208);
}
.icon-Leitura_Complementar .path9:before {
  content: "\e911";
  margin-left: -1.0498046875em;
  color: none;
}
.icon-Leitura_Complementar .path10:before {
  content: "\e912";
  margin-left: -1.0498046875em;
  color: rgb(177, 177, 177);
}
.icon-Leitura_Complementar .path11:before {
  content: "\e913";
  margin-left: -1.0498046875em;
  color: rgb(254, 254, 254);
}
.icon-Leitura_Complementar .path12:before {
  content: "\e914";
  margin-left: -1.0498046875em;
  color: rgb(208, 208, 208);
}
.icon-Leitura_Complementar .path13:before {
  content: "\e915";
  margin-left: -1.0498046875em;
  color: rgb(208, 208, 208);
}
.icon-Leitura_Complementar .path14:before {
  content: "\e916";
  margin-left: -1.0498046875em;
  color: rgb(208, 208, 208);
}
.icon-Leitura_Complementar .path15:before {
  content: "\e917";
  margin-left: -1.0498046875em;
  color: rgb(208, 208, 208);
}
.icon-Leitura_Complementar .path16:before {
  content: "\e918";
  margin-left: -1.0498046875em;
  color: rgb(208, 208, 208);
}
.icon-Leitura_Complementar .path17:before {
  content: "\e919";
  margin-left: -1.0498046875em;
  color: rgb(208, 208, 208);
}
.icon-Leitura_Complementar .path18:before {
  content: "\e91a";
  margin-left: -1.0498046875em;
  color: none;
}
.icon-Leitura_Complementar .path19:before {
  content: "\e91b";
  margin-left: -1.0498046875em;
  color: rgb(177, 177, 177);
}
.icon-Objetivos .path1:before {
  content: "\e91c";
  color: rgb(208, 208, 208);
}
.icon-Objetivos .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Objetivos .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(177, 177, 177);
}
.icon-Observacoes .path1:before {
  content: "\e91f";
  color: rgb(208, 208, 208);
}
.icon-Observacoes .path2:before {
  content: "\e920";
  margin-left: -1.470703125em;
  color: rgb(254, 254, 254);
}
.icon-Observacoes .path3:before {
  content: "\e921";
  margin-left: -1.470703125em;
  color: rgb(254, 254, 254);
}
.icon-Observacoes .path4:before {
  content: "\e922";
  margin-left: -1.470703125em;
  color: rgb(254, 254, 254);
}
.icon-Observacoes .path5:before {
  content: "\e923";
  margin-left: -1.470703125em;
  color: rgb(242, 242, 242);
}
.icon-Observacoes .path6:before {
  content: "\e924";
  margin-left: -1.470703125em;
  color: rgb(242, 242, 242);
}
.icon-Observacoes .path7:before {
  content: "\e925";
  margin-left: -1.470703125em;
  color: rgb(242, 242, 242);
}
.icon-Observacoes .path8:before {
  content: "\e926";
  margin-left: -1.470703125em;
  color: rgb(208, 208, 208);
}
.icon-Observacoes .path9:before {
  content: "\e927";
  margin-left: -1.470703125em;
  color: rgb(177, 177, 177);
}
.icon-Observacoes .path10:before {
  content: "\e928";
  margin-left: -1.470703125em;
  color: rgb(254, 254, 254);
}
.icon-Observacoes .path11:before {
  content: "\e929";
  margin-left: -1.470703125em;
  color: rgb(208, 208, 208);
}
.icon-Observacoes .path12:before {
  content: "\e92a";
  margin-left: -1.470703125em;
  color: rgb(242, 242, 242);
}
.icon-Para_Saber_Mais .path1:before {
  content: "\e92b";
  color: rgb(208, 208, 208);
}
.icon-Para_Saber_Mais .path2:before {
  content: "\e92c";
  margin-left: -1.111328125em;
  color: rgb(250, 250, 250);
}
.icon-Para_Saber_Mais .path3:before {
  content: "\e92d";
  margin-left: -1.111328125em;
  color: rgb(250, 250, 250);
}
.icon-Para_Saber_Mais .path4:before {
  content: "\e92e";
  margin-left: -1.111328125em;
  color: rgb(250, 250, 250);
}
.icon-Para_Saber_Mais .path5:before {
  content: "\e92f";
  margin-left: -1.111328125em;
  color: rgb(250, 250, 250);
}
.icon-Para_Saber_Mais .path6:before {
  content: "\e930";
  margin-left: -1.111328125em;
  color: rgb(250, 250, 250);
}
.icon-Para_Saber_Mais .path7:before {
  content: "\e931";
  margin-left: -1.111328125em;
  color: rgb(250, 250, 250);
}
.icon-Para_Saber_Mais .path8:before {
  content: "\e932";
  margin-left: -1.111328125em;
  color: rgb(254, 254, 254);
  opacity: 0.46;
}
.icon-Para_Saber_Mais .path9:before {
  content: "\e933";
  margin-left: -1.111328125em;
  color: rgb(177, 177, 177);
}
.icon-Para_Saber_Mais .path10:before {
  content: "\e934";
  margin-left: -1.111328125em;
  color: rgb(177, 177, 177);
}
.icon-Para_Saber_Mais .path11:before {
  content: "\e935";
  margin-left: -1.111328125em;
  color: rgb(208, 208, 208);
}
.icon-Refletindo .path1:before {
  content: "\e936";
  color: rgb(208, 208, 208);
}
.icon-Refletindo .path2:before {
  content: "\e937";
  margin-left: -1.04296875em;
  color: rgb(177, 177, 177);
}
.icon-Refletindo .path3:before {
  content: "\e938";
  margin-left: -1.04296875em;
  color: rgb(254, 254, 254);
}
.icon-Voce_Conhece .path1:before {
  content: "\e939";
  color: rgb(208, 208, 208);
}
.icon-Voce_Conhece .path2:before {
  content: "\e93a";
  margin-left: -0.9873046875em;
  color: rgb(177, 177, 177);
}
.icon-Voce_Conhece .path3:before {
  content: "\e93b";
  margin-left: -0.9873046875em;
  color: rgb(254, 254, 254);
}
.icon-Crditos:before {
  content: "\e900";
}
.icon-Fonte:before {
  content: "\e901";
}
.icon-Marcaes:before {
  content: "\e902";
}
.icon-Pginas:before {
  content: "\e903";
}
.icon-Referncias:before {
  content: "\e904";
}
.icon-Smario:before {
  content: "\e905";
}
