/*CORES FONT*/
.font-white { color: #fff; }
.font-black { color: #333; }
.font-dark-purple{ color:#993199; }
.font-dark-gray{ color: #707070; }
.font-green { color: #63B130; }
.font-green-gray { color: #7F9C7D; }
.font-blue { color: #2C7B9B; }

/* CORES */
.black { background:#1b2a34; }

.very-very-cinza { background:#F3F3F3; }
.very-cinza { background: #DDDDDD; }

.very-very-purple { background: #fae9fd; }

.very-very-green { background:#F6FFF4; }
.green-pt { background: #ECF1B1; }
.bright-green { background:#4b974a; }
.green { background:#287f4c; }
.dark-green { background:#27462c; }
.sand-green { background:#789081; }
.medium-green { background:#79DA75; }
.light-green { background:#C6FFAE; }
.verde-musgo { background: #cbdb2a; }

.lime { background:#a4bd46; }
.medium-lime { background:#c7d23c; }
.light-lime { background:#d9e4a7; }

.dark-bluish-gray { background:#635f61; }
.light-bluish-gray { background:#a3a2a4; }
.very-light-bluish-gray { background:#e5e4de; }
.dark-gray { background:#6d6e6c; }
.light-gray { background:#a1a5a2; }
.very-light-gray { background:#c7c1b7; }

.white{ background:#ffffff; }

.red{ background:#c4281b; }
.dark-red { background:#7b2e2f; }
.sand-red { background:#957976; }

.salmon { background:#da8679; }
.light-salmon { background:#eec4b6; }

.flesh { background:#cc8e68; }
.dark-flesh { background:#7c5c45; }

.reddish-brown { background:#694027; }
.brown { background:#624732; }

.dark-tan { background:#958a73; }
.tan { background:#d7c599; }

.dark-orange { background:#a05f34; }
.earth-orange { background:#cb8442; }
.orange { background:#da8540; }
.medium-orange { background:#e29b3f; }
.bright-light-orange { background:#e8ab2d; }
.light-orange { background: #FFE6D2; }

.yellow { background:#f4cd2f; }
.bright-light-yellow { background:#fdea8c; }
.light-yellow { background:#f9e999; }

.light-turquoise { background:#55a5af; }
.dark-turquoise { background:#008f9b; }

.dark-blue { background:#3E6C9E; }
.blue { background:#0d69ab; }
.sand-blue { background:#74869c; }
.medium-blue { background:#6e99c9; }
.sky-blue { background:#7dbbdd; }
.bright-light-blue { background:#9fc3e9; }
.light-blue { background:#b4d2e3; }
.quase-azul { background:#F2FFF8; }
.azul-verde { background:#C4E7EC; }
.azul-celeste { background:#B8D7DB; }
.azul-coiso { background:#A2C0C4; }
.azul-fraco { background:#ECF7F6; }
.azul-cinza{ background:#84ACAF; }
.very-very-azul { background: #EFF9FD; }

.aqua { background:#b7d7d5; }

.blue-violet { background:#4667a4; }
.violet { background:#6874ac; }
.light-violet { background:#c1cade; }

.dark-purple { background:#342b75; }
.purple { background:#934f9e; }
.light-purple { background:#D69AD5; }
.sand-purple { background:#877c90; }

.magenta { background:#923978; }

.dark-pink { background:#c470a0; }
.light-pink { background:#dc9095; }
.bright-pink { background:#e4adc8; }
.pink { background:#ffd3ec; }
.very-pink { background: #F0E1E9; }

/*DEGRADÊ*/
.dgd-azul {
	background: #014D92; /* Old browsers */
	background: -moz-linear-gradient(top,  #014D92 0%, #014D92 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#014D92), color-stop(100%,#014D92)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #014D92 0%,#014D92 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #014D92 0%,#014D92 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #014D92 0%,#014D92 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #014D92 0%,#014D92 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#014D92', endColorstr='#014D92',GradientType=0 ); /* IE6-9 */
}

.dgd-verd {
	color: #1C471C;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background: #AFD390;
	background: -moz-linear-gradient(top, #e7fdd4 0%, #AFD390 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7fdd4), color-stop(100%,#AFD390));
	background: -webkit-linear-gradient(top, #e7fdd4 0%,#AFD390 100%);
	background: -o-linear-gradient(top, #e7fdd4 0%,#AFD390 100%);
	background: -ms-linear-gradient(top, #e7fdd4 0%,#AFD390 100%);
	background: linear-gradient(to bottom, #e7fdd4 0%,#AFD390 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7fdd4', endColorstr='#AFD390',GradientType=0 );
}

.dgd-black{
	color: white;
	background: #314f5e; /* Old browsers */
	background: -moz-linear-gradient(top,  #314f5e 27%, #1b2a34 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(27%,#314f5e), color-stop(99%,#1b2a34)); /* 	Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #314f5e 27%,#1b2a34 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #314f5e 27%,#1b2a34 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #314f5e 27%,#1b2a34 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #314f5e 27%,#1b2a34 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#314f5e', endColorstr='#1b2a34',GradientType=0 ); /* IE6-9 */
}

.dgd-dark-gray{
	color: white;
	background: #878184; /* Old browsers */
	background: -moz-linear-gradient(top,  #878184 34%, #635f61 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,#878184), color-stop(100%,#635f61)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #878184 34%,#635f61 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #878184 34%,#635f61 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #878184 34%,#635f61 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #878184 34%,#635f61 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878184', endColorstr='#635f61',GradientType=0 ); /* IE6-9 */
}

.dgd-gray{
	background: #d5d4d6; /* Old browsers */
	background: -moz-linear-gradient(top,  #d5d4d6 34%, #a3a2a4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,#d5d4d6), color-stop(100%,#a3a2a4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d5d4d6 34%,#a3a2a4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d5d4d6 34%,#a3a2a4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d5d4d6 34%,#a3a2a4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d5d4d6 34%,#a3a2a4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d4d6', endColorstr='#a3a2a4',GradientType=0 ); /* IE6-9 */

}

.dgd-white{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(237,243,244,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(237,243,244,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,243,244,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,243,244,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,243,244,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(237,243,244,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edf3f4',GradientType=0 ); /* IE6-9 */
}

.dgd-dark-red{
	color: white;
	background: #c94c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #c94c4c 34%, #7b2e2f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,#c94c4c), color-stop(100%,#7b2e2f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c94c4c 34%,#7b2e2f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c94c4c 34%,#7b2e2f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c94c4c 34%,#7b2e2f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c94c4c 34%,#7b2e2f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c94c4c', endColorstr='#7b2e2f',GradientType=0 ); /* IE6-9 */
}

.dgd-red{
	color: white;
	background: #ff2323; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff2323 34%, #891313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,#ff2323), color-stop(100%,#891313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff2323 34%,#891313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff2323 34%,#891313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff2323 34%,#891313 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff2323 34%,#891313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2323', endColorstr='#891313',GradientType=0 ); /* IE6-9 */

}

.dgd-red-prosaude {
    color: white;
    /* background: #ff2323; */
    background: -moz-linear-gradient(top, #ff2323 34%, #891313 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(34%, #ff2323), color-stop(100%, #891313));
    background: -webkit-linear-gradient(top, #ff2323 34%, #891313 100%);
    background: -o-linear-gradient(top, #ff2323 34%, #891313 100%);
    background: -ms-linear-gradient(top, #ff2323 34%, #891313 100%);
    background: linear-gradient(to bottom, #BB312A 34%, #B20000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2323', endColorstr='#891313',GradientType=0 );
}

.dgd-ligth-red{
	color: white;
	background: #ff928e; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff928e 34%, #bc7069 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,#ff928e), color-stop(100%,#bc7069)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff928e 34%,#bc7069 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff928e 34%,#bc7069 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff928e 34%,#bc7069 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff928e 34%,#bc7069 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff928e', endColorstr='#bc7069',GradientType=0 ); /* IE6-9 */
}

.dgd-orange{
	color: white;
	background: #ff872b; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff872b 35%, #c16320 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,#ff872b), color-stop(100%,#c16320)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff872b 35%,#c16320 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff872b 35%,#c16320 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff872b 35%,#c16320 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff872b 35%,#c16320 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff872b', endColorstr='#c16320',GradientType=0 ); /* IE6-9 */
}

.dgd-yellow{
	background: #ffff32; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffff32 34%, #ddcc2c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,#ffff32), color-stop(100%,#ddcc2c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffff32 34%,#ddcc2c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffff32 34%,#ddcc2c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffff32 34%,#ddcc2c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffff32 34%,#ddcc2c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff32', endColorstr='#ddcc2c',GradientType=0 ); /* IE6-9 */
}

.dgd-ligth-yellow{
	background: #ffff70; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffff70 42%, #e3e564 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(42%,#ffff70), color-stop(100%,#e3e564)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffff70 42%,#e3e564 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffff70 42%,#e3e564 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffff70 42%,#e3e564 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffff70 42%,#e3e564 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff70', endColorstr='#e3e564',GradientType=0 ); /* IE6-9 */
}

.dgd-dark-green{
	color: white;
	background: #75d66b; /* Old browsers */
	background: -moz-linear-gradient(top,  #75d66b 34%, #4b974a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,#75d66b), color-stop(100%,#4b974a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #75d66b 34%,#4b974a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #75d66b 34%,#4b974a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #75d66b 34%,#4b974a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #75d66b 34%,#4b974a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75d66b', endColorstr='#4b974a',GradientType=0 ); /* IE6-9 */
}

.dgd-green{
	background: #8BDA48;
	background: -moz-linear-gradient(top, #8bda48 0%, #63b130 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8BDA48), color-stop(100%,#63B130));
	background: -webkit-linear-gradient(top, #8BDA48 0%,#63B130 100%);
	background: -o-linear-gradient(top, #8bda48 0%,#63b130 100%);
	background: -ms-linear-gradient(top, #8bda48 0%,#63b130 100%);
	background: linear-gradient(to bottom, #8BDA48 0%,#63B130 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bda48', endColorstr='#63b130',GradientType=0 );
}

.dgd-ligth-green{
	background: #c4ff93; /* Old browsers */
	background: -moz-linear-gradient(top,  #c4ff93 34%, #9df754 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,#c4ff93), color-stop(100%,#9df754)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c4ff93 34%,#9df754 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c4ff93 34%,#9df754 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c4ff93 34%,#9df754 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c4ff93 34%,#9df754 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4ff93', endColorstr='#9df754',GradientType=0 ); /* IE6-9 */
}

.dgd-dark-blue{
	color: white;
	background: #376a91; /* Old browsers */
	background: -moz-linear-gradient(top,  #376a91 35%, #203a56 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,#376a91), color-stop(100%,#203a56)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #376a91 35%,#203a56 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #376a91 35%,#203a56 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #376a91 35%,#203a56 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #376a91 35%,#203a56 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#376a91', endColorstr='#203a56',GradientType=0 ); /* IE6-9 */
}

.dgd-blue{
	color: white;
	background: #0065bf;
	background: -moz-linear-gradient(top, #0065bf 0%, #084783 98%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0065bf), color-stop(98%,#084783));
	background: -webkit-linear-gradient(top, #0065bf 0%,#084783 98%);
	background: -o-linear-gradient(top, #0065bf 0%,#084783 98%);
	background: -ms-linear-gradient(top, #0065bf 0%,#084783 98%);
	background: linear-gradient(to bottom, #0065bf 0%,#084783 98%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0065bf', endColorstr='#084783',GradientType=0 );
}

.dgd-ligth-blue{
	background: #8beaf4; /* Old browsers */
	background: -moz-linear-gradient(top,  #8beaf4 34%, #7dbbdd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,#8beaf4), color-stop(100%,#7dbbdd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8beaf4 34%,#7dbbdd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8beaf4 34%,#7dbbdd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8beaf4 34%,#7dbbdd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8beaf4 34%,#7dbbdd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8beaf4', endColorstr='#7dbbdd',GradientType=0 ); /* IE6-9 */
}

.dgd-dark-purple{
	color: white;
	background: #a069a9; /* Old browsers */
	background: -moz-linear-gradient(top,  #a069a9 34%, #72367b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,#a069a9), color-stop(100%,#72367b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a069a9 34%,#72367b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a069a9 34%,#72367b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a069a9 34%,#72367b 100%); /* IE10+ */
	    background: linear-gradient(to bottom, #a069a9 36%,#72367b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a069a9', endColorstr='#72367b',GradientType=0 ); /* IE6-9 */
}

.dgd-purple{
	color: white;
	background: #c15bb2; /* Old browsers */
	background: -moz-linear-gradient(top,  #c15bb2 34%, #8e4285 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,#c15bb2), color-stop(100%,#8e4285)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c15bb2 34%,#8e4285 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c15bb2 34%,#8e4285 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c15bb2 34%,#8e4285 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c15bb2 34%,#8e4285 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c15bb2', endColorstr='#8e4285',GradientType=0 ); /* IE6-9 */
}

.dgd-pink{
	background: #ffd3ec; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffd3ec 34%, #e4adc8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,#ffd3ec), color-stop(100%,#e4adc8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffd3ec 34%,#e4adc8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffd3ec 34%,#e4adc8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffd3ec 34%,#e4adc8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffd3ec 34%,#e4adc8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd3ec', endColorstr='#e4adc8',GradientType=0 ); /* IE6-9 */
}

.dgd-btn{
	background-color: #f2f5f6;
	background-image: -moz-linear-gradient(top, #f2f5f6, #e0e0e0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f5f6), to(#e0e0e0));
	background-image: -webkit-linear-gradient(top, #f2f5f6, #e0e0e0);
	background-image: -o-linear-gradient(top, #f2f5f6, #e0e0e0);
	background-image: linear-gradient(to bottom, #f2f5f6, #e0e0e0);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5f6', endColorstr='#e0e0e0', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.dgd-verde-escuro{
	background: #3e9b5d; /* Old browsers */
	background: -moz-linear-gradient(top,  #3e9b5d 1%, #06554e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#3e9b5d), color-stop(100%,#06554e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3e9b5d 1%,#06554e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3e9b5d 1%,#06554e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3e9b5d 1%,#06554e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3e9b5d 1%,#06554e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e9b5d', endColorstr='#06554e',GradientType=0 ); /* IE6-9 */
}

.dgd-dark-turquoise{
	background: #5caebc; /* Old browsers */
	background: -moz-linear-gradient(top,  #5caebc 1%, #008f9b 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#5caebc), color-stop(99%,#008f9b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5caebc 1%,#008f9b 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5caebc 1%,#008f9b 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5caebc 1%,#008f9b 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #5caebc 1%,#008f9b 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5caebc', endColorstr='#008f9b',GradientType=0 ); /* IE6-9 */
}
