@import "../../local/css/book.scss";
@import "../../components/shared/css/animations.scss";




$break-small: 600px;



//GRIDS E TAMANHOS

.grid-row {
    word-spacing: -4px;
    position: relative;
    display: inline-block;
    width: 100%;
   

} 


[class*="tamanho"]{
	display:inline-block;
	margin: 0 0 5px 0px;
}

[class*="tamanho"] > *{
	margin-right: 10px !important;
}

[class*="tamanho"] img{width:100%;}

.tamanho1{width:9.9%;}

.tamanho2{width:19.9%;}

.tamanho3{width:29.9%;}

.tamanho4{width:39.9%;}

.tamanho5{width:49.9%;}

.tamanho6{width:59.9%;}

.tamanho7{width:69.9%;}

.tamanho8{width:79.9%;}

.tamanho9{width:89.9%;}

.tamanho10{width:99.9%;}

.tamanho-responsivo0{display:none;}

.tamanho-responsivo1{width:9.9%;}

.tamanho-responsivo2{width:19.9%;}

.tamanho-responsivo3{width:29.9%;}

.tamanho-responsivo4{width:39.9%;}

.tamanho-responsivo5{width:49.9%;}

.tamanho-responsivo6{width:59.9%;}

.tamanho-responsivo7{width:69.9%;}

.tamanho-responsivo8{width:79.9%;}

.tamanho-responsivo9{width:89.9%;}

.tamanho-responsivo10{width:99.9%;}




//GERAL
html{
    @media only all and (min-height:750px){
        height: 100%;
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 16px;
 

    @media only all and (min-width:1300px) {
        position: absolute;
        width: 1300px !important;
        height: 100%;
    }
    @media only all and (min-height:750px) {
        position: absolute;
        height: 750px !important;
        width: 100%;
    }
}

h3, h4, h5 {
	margin-top:0;
	margin-bottom:0px;
	padding: 0px 0px 4px;
    font-weight: bold;
}

a {
	text-decoration: none;
	color: var(--a-link); 
	&:hover {
        text-decoration: underline;
        cursor: pointer; 
    }
}

.tooltip{
    color: var(--tertiary-color);
    &:hover {
        cursor: initial; 
    }
}

li {
	margin-right: 15px; 
}



//BACKGROUND LAYER
.back{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-color: var(--secondary-color);
}

.back_header{
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0px;
    background-color: var(--primary-color);
}

.back_footer{
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0px;
    background-color: var(--primary-color);
}



//PAGE


.page {
    position: absolute;
    z-index: 2;
    width: 640px;
    height: 100%;
	margin: 0 auto;
	margin-top: 0px !important;
    overflow: hidden; 

    
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .header { 
        position: relative;
        margin-top: 0px; 
        .top{
            line-height: 1.4em;
            text-align: left;
            font-weight: 300;
            padding: 10px 13px;
            height: auto;
            position: relative;
            .moduleName{
                //float: left;
                position: relative;
                top: -15%;
                font-size: 1em;
                max-width: 490px;
                line-height: initial;
            }
        
        }
        .smalltop{
            border-top-left-radius: 2%;
            border-top-right-radius: 2%; 

            .btnMenuDiv{
                border-width: 1px !important;
                background-image: url("./images/Botao_Menu.png");
                background-color: var(--primary-icone) !important;
                padding-top: 1px;
                padding-left: 1px;
                padding-right: 0px;
                border-radius: 50%;
                height: 32px;
                width: 33px;
                line-height: 51px;
                background-repeat: repeat-y, repeat;
                background-size: contain;
            }
            .btnMenuActive{
               
                background-color: var(--active-color) !important;
            }

            .comentarios{
                color: white;
                font-size: 20px;
                margin-left: 20px;
                
                border-radius: 50%;
                background-image: url("./images/Botao_Coment.png");
                width: 33px;
                height: 33px;
                padding-top: 1px;
                padding-left: 1px;
                padding-right: 0px;
                text-align: center;
                user-select: none;
                -webkit-user-select: none;
                cursor: pointer;
                vertical-align: middle;
                display: inline-block;
                margin-top: -17px;
                
            }
            .marcador{
                color: white;
                font-size: 20px;
            
                margin-left: 20px;
               
                border-radius: 50%;
                background-image: url("./images/Botao_Destaq.png");
                width: 33px;
                height: 33px;
                padding-top: 1px;
                padding-left: 1px;
                padding-right: 0px;
                text-align: center;
                user-select: none;
                -webkit-user-select: none;
                vertical-align: middle;
                display: inline-block;
                cursor: pointer;
                margin-top: -16px;
               
            }
            .comentarios_navbar_open{
                margin-top: -17px !important;
            }
            .marcador_navbar_open{
                margin-top: -15.8px !important;
            }
        }
        .title_top{
            width: 100%;
            background-color: var(--mobile-topo);
            line-height: 18px;
            color: #fff; 
            line-height: 18px;
            color: #fff;
            padding: 5px;
        }
    }
    p{
        text-align: justify;
        font-family: 'Roboto', sans-serif;
        margin: 5px 0 5px 0;
        word-spacing: normal;
        font-size: 0.96em !important;
        font-size-adjust: 0.48;
        line-height: 1.16em;
    }
   
}

.conteudo{
    border-radius: 2%;
    background: #fff;
    color: #333;
    padding: 11px 20px 0px;
    text-align: left;
    /*border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;*/
    overflow: hidden;
    position: relative;
    margin: 0;
    //height: 608px !important;
    
   
    
    h2 {
        padding: 0px;
        font-size: 1.2rem !important;
        font-weight: bold;
        margin: 0px;
        margin-top: 20px;
        //border-bottom: 2.5px solid #00b2ff;
        font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
        text-align: left;
        width: 100%;
        float: none;
        line-height: 1.3em;
    }
    .underh2{
        height: 3px;
        width: 21%;
        border-radius: 5px;
        background-color: var(--primary-color);//#00b2ff;
        margin-bottom:20px;
    }
}
.aumento_fonte{
    overflow: auto;
}


.bloco-centro{
	width: 100%;
	margin-top: 70px;
	margin-bottom: 15px;
	position: relative;
}

.bloco-conteudo{
	padding: 7px;
	border: 1px solid rgb(170, 170, 170);

}

.refCx {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	bottom: 1%;
	right: 1%;
	border-radius: 3px;
    border-radius: 50%;
    a { text-decoration: none; color: #934f9e; }
}

.referencia{
	position: absolute;
	/*bottom: 3px;
	right: 10px;*/
    margin: 2px 0 0 3px;
    a{
        display: inline-block;
    }
    img{
        width:40px;
        opacity: 0.5;
        &:hover{
            opacity: 1;
        }
    }
  
}

.focused{
    background-color: lightgray;
}

.focused_cmt{
    color: rgb(172, 172, 34) !important;
}

.smallmenu{
    list-style: none;
    margin: -4px 0 0 0 !important;
    display: inline-block;
}

.back_header{
    
    ul.navbar{
        display: inline-block; 
        height: 40px;
        margin: 0;
        padding: 0 0 0 10px;
        list-style: none;
        li.btnMenu {
            width: auto;
            margin: 4px 0 0 0;
            height: auto;
            font-size: 0.9em;
            border-radius: 3px;
            p {
                display: inline-block;
                vertical-align: middle;
            }
            span {
                display: inline-block;
                vertical-align: middle;
            }
        }
        li {
           
            width: 20px;
            height: 20px;
            margin-top: 5px;
            margin-right: 15px;
            cursor: pointer;
            background-repeat: no-repeat;
            background-size: 100%;
            position: relative;
            font-size: 20px;
            float: left;
            a {
                color: #525252;
                text-decoration: none;
                margin-left: 3px;
            }
        }
    }

    .comentarios{
        color: white;
        font-size: 20px;
        display: inline-block;
        margin-left: 20px;
        margin-bottom: 3px;
        border-radius: 50%;
        background-image: url("./images/Botao_Coment.png");
        background-color: var(--fundo-icone);
        width: 33px;
        height: 33px;
        padding-top: 1px;
        padding-left: 1px;
        padding-right: 0px;
        text-align: center;
        user-select: none;
        -webkit-user-select: none;
        cursor: pointer;
        span{
            line-height: 33px;
        }
    }
    .marcador{
        color: white;
        font-size: 20px;
        display: inline-block;
        margin-left: 16px;
        margin-bottom: 3px;
        border-radius: 50%;
        background-image: url("./images/Botao_Destaq.png");
        background-color: var(--fundo-icone);
        width: 33px;
        height: 33px;
        padding-top: 1px;
        padding-left: 1px;
        padding-right: 0px;
        text-align: center;
        user-select: none;
        -webkit-user-select: none;
        cursor: pointer;
        span{
            line-height: 33px;
        }
    }

}
.comentarios,.marcador{
    background-repeat: repeat-y, repeat;
    background-size: contain;
    // background-color: var(--fundo-icone);
}
.activeBtn_Cmt{
   
    background-color: var(--active-color) !important;
}
.activeBtn_Mrk{
   
    background-color: var(--active-color) !important;
}


//Controla marcações
.highlight{
    background-color: rgb(238, 238, 88);
    color: #333;
    display: inline;
    cursor: pointer;
    margin: 0px !important;
}
.highlight_cmt{
    background-color: #dbdb68 !important;
    z-index: 2;
    color: #333;
    display: inline;
    cursor: pointer;
    margin: 0px !important;
}


.cmt{
    position: absolute;
    width: 30px;
    height: 24px;
    color: white;
    cursor: pointer;
    background-image: url("./images/Caixa_Coment_Minim.png");
    background-repeat: repeat-y, repeat;
    background-size: contain;
    font-size: 15px;
    text-align: center;
    line-height: 24px;
    padding-left: 2px;
   
}
.modal_cmt{
    overflow: hidden;
    min-height: 200px;
    .content{
        min-height: 119px;
        height: auto;
    }
    .comment-text-edit{
        margin-bottom: 10px;
       
        min-height: 119px;
        height: auto;
        resize: none;
        outline: none;
        overflow: auto;
        background-color: white;
       
        border: solid 1px;  
        color: #333;
      
        border-color: #fdfcfc00;
        &::placeholder{
            color: white;
            opacity: 1; 
        }
        margin-bottom: -4px;
        max-width: 100%;
        min-width: 100%;
       
    } 
    .comment-exclude{
        color: #B8B8B8;
        font-size: 12px;
        cursor: pointer;
        position: absolute;
        top: 8px;
        right: 32px;
    }
    .comment-edit{
        color: #B8B8B8;
        font-size: 12px;
        cursor: pointer;
        position: absolute;
        top: 8px;
        right: 55px;
    }
    position:fixed;
    top: 50%;
    left: 50%;
    width:640px;
    height:auto;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
   
   
    @media only all and (max-width:900px) {
        width:100%;
        left: 0%;
        font-size: 12px;
    }

    .comment-publish-edit{
        vertical-align: middle;
        text-align: center;
        background-color: #ffffff;
        color: #333333ad;
        cursor: pointer;
        border-radius: 5px;
        border: solid 1px #333333ad;
        width: 41%;
        height: 25px;
        line-height: 25px;
        margin: auto;
        font-size: 0.85em;
        display: none;
        margin-bottom: 10px;
        
        
    }
    .modal_cmt_footer{
        width: 100%;
        text-align: center;
        background-color: white;
        color: #333333ad;
        cursor: pointer;
        height: 38px;
        line-height: 25px;
        margin: auto;
        font-size: 0.85em;
        cursor: default;
        padding-top: 4px;
    }
}
.delcmt{
    width: 15px;
    height: 15px;
    color: #868686;
    border: 2px solid #868686;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 16px;
    font-size: 7px;
    cursor: pointer;
}
.normalDiv{
    display: inline;
    margin: 0px !important;
}

.addComentario{
    width: 290px;
    height: 174px;
    z-index: 5;
    position: absolute;
    background-color: var(--primary-color);
    border-radius: 3%;
    padding: 2px;
    text-align: center;
    color: white;
   
    .comment-head{
        margin-bottom: 10px;
        text-align: left;
        padding: 10px;
        padding-bottom: 5px;
        .comment-close{
            float: right;
            cursor: pointer;
            margin-right: 10px;
            font-size: 19px;
            line-height:16px;
        }
        // &:after {
        //     position: absolute;
        //     content: '';
        //     left: -4px;
        //     top: 5.98%;
        //     width: 0px;
        //     height: 0px;
        //     border: 22px solid transparent;
        //     border-right-color: #2cb1e6f6;
        //     border-top: 15px;
        //     border-left: 0;
        //     margin-top: -10px;
        //     transform: rotate(0deg);
        //     margin-left: -10px;
        // }
    }
    .comment-body{
        height:58%;
        .comment-text{
            margin-bottom: 10px;
            width: 93%;
            height: 80%;
            resize: none;
            outline: none;
            overflow: auto;
            background-color: white;
            border-radius: 3%;
            border: solid 1px;  
            color: #333;
            padding: 5px;
            border-color: #fdfcfc00;
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: white;
                opacity: 1; /* Firefox */
            }
            
        }
        

    }
    .comment-publish{
        vertical-align: middle;
        text-align: center;
        background-color: white;
        color: #333333ad;
        cursor: pointer;
        border-radius: 5px;
        width: 41%;
        height: 25px;
        line-height: 25px;
        margin: auto;
        font-size: 0.85em;
    }
    
}

.div_cmt{
    width: 290px;
    height: 174px;//160px;
    z-index: 5;
    position: absolute;
    background-color: var(--primary-color);
    border-radius: 3%;
    padding: 2px;
    color: white;
    top: 30%;
    right: 1%;
    display: none;
    .comment-publish-edit{
        vertical-align: middle;
        text-align: center;
        background-color: white;
        color: #333333ad;
        cursor: pointer;
        border-radius: 5px;
        width: 41%;
        height: 25px;
        line-height: 25px;
        margin: auto;
        font-size: 0.85em;
        display: none;
    }
    .comment-head{
        margin-bottom: 10px;
        text-align: left;
        padding: 10px;
        padding-bottom: 5px;
        .comment-close{
            float: right;
            cursor: pointer;
            margin-right: 10px;
            font-size: 19px;
            line-height:16px;
        }
        .comment-exclude{
            color: white;
            font-size: 13px;
            float: right;
            cursor: pointer;
            margin-right: 10px;
            margin-top: 2px;
        }
        .comment-edit{
            color: white;
            font-size: 13px;
            float: right;
            cursor: pointer;
            margin-right: 10px;
            margin-top: 2px;
        }
        /* &:after {
            position: absolute;
            content: '';
            left: -4px;
            top: 5.98%;
            width: 0px;
            height: 0px;
            border: 22px solid transparent;
            border-right-color: var(--primary-color);
            border-top: 15px;
            border-left: 0;
            margin-top: -10px;
            transform: rotate(0deg);
            margin-left: -10px;
        } */
    }
    .comment-body{
        height: 58%;
        .comment-text{
            margin-bottom: 10px;
            width: 93%;
            height: 80%;
            resize: none;
            outline: none;
            overflow: auto;
            background-color: white;
            border-radius: 3%;
            border: solid 1px;
            color: #333;
            margin-left: 3px;
            margin-right: 3px;
            padding: 6px;
            border-color: #fdfcfc00;
            
            
        }
        .comment-text-edit{
            margin-bottom: 10px;
            width: 93%;
            height: 80%;
            resize: none;
            outline: none;
            overflow: auto;
            background-color: white;
            border-radius: 3%;
            border: solid 1px;  
            color: #333;
            padding: 5px;
            border-color: #fdfcfc00;
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: white;
                opacity: 1; /* Firefox */
            }
            margin-left: 3px;
        }

    }
    
}
.on_edit{
    height: 174px;
}


.menuComentarios{
	display: none;
	position: absolute;
	/* top: 46px; */
	/* left: 0.7em; */
	z-index: 5;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 0;
    box-shadow: none;
    overflow: hidden;
    
    border-radius: 3%;
    border-top-left-radius: 0%;
    background-color: white; 
}

.menuComentarios{
    ul{
        padding: 5px;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 182px;
        li{
            list-style-type: none;
            width: 93%;
            padding-left: 1em;
        }   
    }
  
}

.menuComentarios{
    li {
        width: 100%;
        padding: 0.5em;
        padding-left: 2em;
        font-size: 0.8em;
        cursor: pointer;
        margin: 0;
        
        &:hover{
            background-color: rgb(241, 241, 241);
        }
        a {
            position: relative;
            color: #7b7b7b;
            text-decoration: none;
            span {
	
                vertical-align: middle;
                line-height: 1.5em;
                font-size: 2.3em;
                margin: 0 1em 0 0;
            }
           /*  &::after{
                content: '';
                position: absolute;
                bottom: 38px;
                left: 0;
                width: 196px;
                height: 1px;
                background: #7b7b7b;
            } */
            
        }
    }

}


.menuComentarios.activated {
    display: block !important;
    animation: extend 0.3s ease;
    height: 22.6em;
    width: 15.5em;
    box-shadow: 0.2px 0.2px 5px 2px rgba(175, 175, 175, 0.829);
}


.menuComentarios.deactivated {
    display: block !important;
    animation: retract 0.3s ease;
    height: 0px;
    width: 15.5em;
    box-shadow: none;
}


#placeholder_comment{
    text-align: center;
    color: lightgray;
    cursor: default;
}

//MENU

//scroll
.frame-scroll {
    overflow-y: auto;
    height: inherit;
    width: inherit;
    line-height: 1rem;
}

.frame-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.frame-scroll::-webkit-scrollbar:vertical {
    width: 11px;
}

.frame-scroll::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.navbarMenu {
	display: none;
	position: absolute;
	/* top: 46px; */
	/* left: 0.7em; */
	z-index: 5;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 0;
	box-shadow: none;
    overflow: hidden;
    border-radius: 3%;
    border-top-left-radius: 0%;
    background-color: white; 
}

/*Itens do MENU*/
.navbarMenu{
    li {
        width: 100%;
        padding: 0.5em;
        padding-left: 1em;
        font-size: 0.8em;
        cursor: pointer;
        margin: 0;
        
        &:hover{
            background-color: rgb(241, 241, 241);
        }
        a {
            position: relative;
            color: var(--primary-color);
            text-decoration: none;
            span {
	
                vertical-align: middle;
                line-height: 1.5em;
                font-size: 2.3em;
                margin: 0 1em 0 0;
                height: 24px !important;
                width: 28px !important;
            }
           /*  &::after{
                content: '';
                position: absolute;
                bottom: 38px;
                left: 0;
                width: 196px;
                height: 1px;
                background: #7b7b7b;
            } */
            
        }
    }

}
.navbarMenu.activated {
    display: block !important;
    animation: extend 0.3s ease;
    height: 22.6em;
    width: 15.5em;
    box-shadow: 0.2px 0.2px 5px 2px rgba(175, 175, 175, 0.829);
}


.navbarMenu.deactivated {
    display: block !important;
    animation: retract 0.3s ease;
    height: 0px;
    width: 15.5em;
    box-shadow: none;
}


.voltarMenu{
    color: white;
    font-size: 20px;
    position: absolute !important   ;
    
    right: 6%;
    top: 25px;
    
    border-radius: 50%;
    background-image: url("./images/Icon_Retorn_Menu.png");
    width: 14px;
    height: 14px;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 0px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    
    background-repeat: repeat-y, repeat;
    background-size: contain;
 
}

//Sumario

@keyframes openSumario { 
	from{
        height: 22.6em;
		width: 15.5em;
	}
	to{
        height: 24.7em;
        width: 18.5em;
	}
}
@keyframes closeSumario { 
    from{
        height: 24.7em;
        width: 18.5em;
    }
	to{
        height: 22.6em;
        width: 15.5em;
	}
}


@keyframes openReferencias { 
	from{
        height: 22.6em;
        width: 15.5em;
		
	}
	to{
        height: 23.7em;
        width: 17.5em;
	}
}
@keyframes closeReferencias { 
    from{
        height: 23.7em;
        width: 17.5em;
    }
	to{
        height: 22.6em;
        width: 15.5em;
	}
}


@keyframes openCreditos { 
	from{
        height: 22.6em;
        width: 15.5em;
		
	}
	to{
        height: 23.7em;
        width: 17.5em;
	}
}
@keyframes closeCreditos { 
    from{
        height: 23.7em;
        width: 17.5em;
    }
	to{
        height: 22.6em;
        width: 15.5em;
	}
}
@keyframes openPaginas { 
	from{
        min-height: 22.6em;
        width: 15.5em;
		
	}
	to{
        min-height: 10em;
        width: 16.3em;
	}
}
@keyframes closePaginas { 
    from{
        min-height: 10em;
        width: 16.3em;
    }
	to{
        min-height: 22.6em;
        width: 15.5em;
	}
}
@keyframes openTamanho_fonte { 
	from{
        height: 22.6em;
        width: 15.5em;
		
	}
	to{
        height: 9.7em;
        width: 15.5em;
	}
}
@keyframes closeSmall_menu { 
    from{
        height: 9.7em;
        width: 15.5em;
    }
	to{
        height: 22.6em;
        width: 15.5em;
	}
}
.navbarMenu.sumario{
    animation: openSumario 0.3s ease;
    height: 24.7em;
    width: 18.5em;
    .divsumario{
        max-height: 18.9em;
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-template-rows: 40px 1fr;
    }
}

.navbarMenu.referencias{
    animation: openReferencias 0.3s ease;
    height: 23.7em;
    width: 17.5em;
    ul{
        max-height: 18.2em;
        overflow-y: auto;
    }
}
.navbarMenu.creditos{
    animation: openCreditos 0.3s ease;
    height: 23.7em;
    width: 17.5em;
    
}
.navbarMenu.paginas{
    animation: openPaginas 0.3s ease;
    height: auto;
    min-height: 10em;
    width: 16.3em;
}
.navbarMenu.tamanho_fonte{
    animation: openTamanho_fonte 0.3s ease;
    height: 9.7em;
    width: 15.5em;
}
.navbarMenu.marcacoes{
    animation: openTamanho_fonte 0.3s ease;
    height: 9.7em;
    width: 15.5em;
}
.navbarMenu.menu.referencias-menu{
    animation: closeReferencias 0.3s ease;
    height: 22.6em;
    width: 15.5em;
}

.navbarMenu.menu.creditos-menu{
    animation: closeCreditos 0.3s ease;
    height: 22.6em;
    width: 15.5em;
}
.navbarMenu.menu.paginas-menu{
    animation: closePaginas 0.3s ease;
    height: 22.6em;
    width: 15.5em;
}

.navbarMenu.menu.tamanho-fonte-menu{
    animation: closeSmall_menu 0.3s ease;
    height: 22.6em;
    width: 15.5em;
}

.navbarMenu.menu.marcacao-menu{
    animation: closeSmall_menu 0.3s ease;
    height: 22.6em;
    width: 15.5em;
}

.navbarMenu.menu.sumario-menu{
    animation: closeSumario 0.3s ease;
    height: 22.6em;
}
.navbarMenu.deactivated.closeSmall_menu{
    animation: closeTamanho-fonte-menu 0.3s ease;
    height: 0px;
}


.block{
    width: 100%;
    height: 100%;
    text-align: center;
} 

.sumarioBlockCircles{
    color:white;
}
.sumarioBlockText{
    color: white;
}

.sumarioCircle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 4px;
    line-height: 31px;
    margin-left: 11px;
    border-color: lightgray;
    cursor: pointer;
    color: var(--primary-color);
}  
.sumarioLine{
    width: 2px;
    height: 10px;
    margin-left: 29px;
    background-color:lightgray;
}
.sumarioCircleInc{
    border-top-color: var(--primary-color);
} 
.sumarioCircleC{
    border-color: var(--primary-color);
}
.sumarioLineC{
    background-color: var(--primary-color);
}
.sumarioText{
    float: right;
    margin-top: 10px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 2px;
    border-bottom: solid 1px;
    border-bottom-color: lightgray;
    width: 91%;
    height: 30px;
    margin-bottom: 5px;
    color: #5b5959;
    cursor: pointer;
    white-space: pre-wrap;
}



#sumarioMenu{
    font-size: 12px;
    padding: 15px;
    padding-bottom: 10px;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: solid 1px lightgray;
}

#referenciasMenu{
    font-size: 12px;
    padding: 15px;
    padding-bottom: 10px;
    list-style-type: none;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: solid 1px lightgray;
}
#tamanho_fonteMenu{
    font-size: 12px;
    padding: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: solid 1px lightgray;
}
#creditosMenu{
    font-size: 12px;
    padding: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: solid 1px lightgray;
}

#paginasMenu{
    font-size: 12px;
    padding: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: solid 1px lightgray;
}

#marcacoesMenu{
    font-size: 12px;
    padding: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: solid 1px lightgray;
}

.referencias{
    p{
        margin: 0 0 0 0;
    }
    ul{
        padding: 5px;
        li{
            list-style-type: none;
            width: 93%;
            padding-left: 1em;
            a{
                color: var(--a-link);//#008bd1;
            }
        }   
    }
  
}

.capa {
    width: 101% !important;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0%;
}
.capa > .background{
    width: 100%;
    height: 100%;
}
.capa > .logo{
    position: absolute;
    top: 10%;
    left: 38.5%;
    width: 23%
}
.capa > .logos_bar{
    position: absolute;
    bottom: 2%;
    left: 0%;
    width: 100%;
    height: 15%;
    background-color: white;
}

.logos_bar > img{
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0%;
    left: 0%;
    
}

.capa-text{
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
    text-align: center !important;
}
.capa-subtext{
    position: absolute;
    top:60%;
    left: 25%;
    width: 50%;
    text-align: center !important;
}

.creditos{
    p{
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 1em;
        display: inline-block;
    }
    ul{
        padding: 5px;
        li{
            max-width: 250px;
            list-style-type: none;
            position: relative;
            cursor: default;
            a{
                width: 12px;
                height: 12px;
                margin-left: 10px;
                display: inline-block;
                background-image: url("./images/anex.png");
                background-repeat: repeat-y, repeat;
                background-size: contain;
                border-radius: 37%;
                position: absolute;
                top: 12px;
               
                cursor: pointer;
            }
        }   
    }
  
}
.creditosBlock{
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
#commentsMenu{
    font-size: 12px;
    padding: 15px;
    padding-bottom: 10px;
    list-style-type: none;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: solid 1px lightgray;
}
.paginas_menu{
    display: inline-block;
    margin-left: 20px;
    .pagina{
        display: inline-block;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        border-radius: 18%;
        border: solid 2px var(--primary-color);
        color: var(--primary-color);
        margin: 5px;
        &:hover{
            background-color:  var(--primary-color);
            color: white;
            cursor: pointer;
        }
    }
    .pagina_lida{
        color: var(--primary-color);
        background-color: var(--secondary-color);
    }
    .cur_page{
        background-color:  var(--primary-color);
        color: white;
        cursor: pointer;
    }
    
}


.fonte_menu {

    display: inline-block;
    margin-left: 33px;
    div{
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        display: inline-block;
        cursor: pointer;
        
        &:hover{
            background-color: #f1f1f1;
        }
        span{
            font-size: 18px;
            color: var(--primary-color);
        }
    }
    .fonte_diminuir{
        border-top-left-radius: 14%;
        border-bottom-left-radius: 14%;
        margin: 1px;
    }
    .fonte_normalizar{
        border-radius: 0%;
        border-left: solid 2px var(--primary-color);
        border-right: solid 2px var(--primary-color);
    }
    .fonte_aumentar{
        border-top-right-radius: 14%;
        border-bottom-right-radius: 14%;
        margin: 1px;
    }
    border: solid 2px var(--primary-color);
    border-radius: 15%;
   
	
}


//
.btnMenu {
	width: 30px !important;
	height: 27px !important;
	margin-top: 4px;
	top: 0px;
}

//
.marcacoes{
    .btn-marcacoes{
        display: inline-block;
        //width: 25px;
        //height: 25px;
        line-height: 25px;
        text-align: center;
        border-radius: 8px;
        border: solid 2px var(--primary-color);
        color: var(--primary-color);
        margin: 18px;
        padding: 5px;
        padding-left: 17px;
        padding-right: 17px;
        width: 71%;
        &:hover{
            background-color:  var(--tertiary-color);
            color: white;
            cursor: pointer;
        }
    }
}


/* Btn Menu controller*/
.btnMenu {
    a{
        
        .initialNav{
            display: inline-block!important;
        }
        .activeNav{
            display: inline-block !important;
        }
        .icon-cross.activeNav{
            margin-top: 7px;
            margin-left: 7px;
            -webkit-animation:spinH 0.3s ease;
            -moz-animation:spinH 0.3s ease;
            animation:spinH 0.3s ease ;
        }
        .icon-ebook-menu.activeNav{
	
            -webkit-animation:spinF 0.3s ease;
            -moz-animation:spinF 0.3s ease;
            animation:spinF 0.3s ease ;
        }
        span{
            display: none!important;
            color: white;
        }
         
    }
    .btnMenuDiv{
        border-width: 1px !important;
        background-image: url("./images/Botao_Menu.png");
        background-color: var(--fundo-icone);
        padding-top: 1px;
        padding-left: 1px;
        padding-right: 0px;
        border-radius: 50%;
        height: 32px;
        width: 33px;
        line-height: 51px;
        background-repeat: repeat-y, repeat;
        background-size: contain;
    }
    .btnMenuActive{
       
        background-color: var(--active-color) !important;
    }
}






$arrow-size: 1.2em;

#navigator{
   
	position: absolute;
    right: 2%;
    top: 17%;
    a {
        float: left;
        &:hover {
            text-decoration: underline; 
        }
    }
   
    a.disabled {
        
        opacity: 0.6;
    
        
        cursor: default; 
    }
    a.voltar {
       

        width: 25px;
        height: 25px;
       
       
        text-decoration: none;
        font-size: $arrow-size;
        margin: 0 10px 0 0;
        
        background-image: url("./images/Botao_Pass_Pag_Prev.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    a.atual {
        width: 49px;
        height: 22px;
        line-height: 24px;
        border-radius: 9%;
        border: 1px solid #fff;
        text-align: center;
        text-decoration: none;
        font-size: 15px; 
        color: var(--primary-color);
        background-color: #fff;
        
    }
    
    a.total {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #BDBDBD;
        background: white;
        text-align: center;
        line-height: 20px;
        font-size: 14px;
        right: 30px;
        bottom: 22px;
        color: #525252; 
        text-decoration: none;
    }
    a.avancar {
       
        width: 25px;
        height: 25px;
       
       
        text-decoration: none;
        font-size: $arrow-size;
        margin: 0 0 0 10px;
        
        background-image: url("./images/Botao_Pass_Pag_Next.png");
        background-repeat: no-repeat;
        background-size: contain;

    }
   
}

#navigator_menu {
	margin: 0;
	padding: 0;
	display: inline-block;
	position: absolute;
	right: -400px;
	border: 1px solid #CCC;
	border-right: none;
	padding: 2px 3px 2px 7px;
	box-shadow: 0px 0px 10px #999;
	border-bottom-left-radius: 18px;
	background: #F2F8FA;
	max-width: 242px;
	z-index: 1;
    list-style: none; 
    li {
        display: inline-block;
        width: 20px;
        margin: 2px;
        text-align: center; 
        a {
            color: #084783;
            display: inline-block; 
        }
        &:hover {
            background-color: white; 
        }
    }
    
}




/*Posicionamento*/

.image-right{
	
	float: right;
	margin: 5px 0 5px 10px;
}

.image-left{
	
	float: left;
	margin: 5px 10px 5px 0;
}

.image-center{
	display: block;
	margin: 5px auto;
}



//ANIMAÇÕES
@-moz-keyframes spinH { 100% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes spinH { 100% { -webkit-transform: rotate(90deg); } }
@keyframes spinH { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } }


@-moz-keyframes spinF { 100% { -moz-transform: rotate(-180deg); } }
@-webkit-keyframes spinF { 100% { -webkit-transform: rotate(-180deg); } }
@keyframes spinF { 100% { -webkit-transform: rotate(-180deg); transform:rotate(-180deg); } }



@keyframes extend { 
	from{
       height: 0;
        box-shadow: none;
		
	}
	to{
        height: 22.6em;
        box-shadow: 0.2px 0.2px 5px 2px rgba(175, 175, 175, 0.829);
		
	}
}

@keyframes retract { 
	from{
        height: 22.6em;
        box-shadow: 0.2px 0.2px 5px 2px rgba(175, 175, 175, 0.829);
	}
	to{
		height: 0px;
        box-shadow: none;
	}
}

@keyframes closeMarcacoes-menu { 
	from{
        height: 9.7em;
        box-shadow: 0.2px 0.2px 5px 2px rgba(175, 175, 175, 0.829);
	}
	to{
		height: 0px;
        box-shadow: none;
	}
}

//BLOCOS

/* * > p:last-child { margin: 0 0 0 0; } */

.box-video{
	padding: 5px;
	width: 95%;
	margin: 0 auto;
}

.bloco-video {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	position: relative;
    padding-bottom: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.medidor-container{
	text-align: center;
}

.medidor-mid{
	width: 200px;
	height: 160px;
	display: inline-block;
    margin: 10px 0 10px 10px;
    &:first-child{
        margin: 10px 10px 10px 0;
    }
}

.medidor-small{
	width: 170px;
	height: 80px;
	display: inline-block;
    margin: 5px 0 5px 5px;
    &:first-child{
        margin: 5px 0 0 0;
    }
}


.medidor-big{
	width: 300px;
	height: 210px;
	display: block;
	margin: 0 auto;
}

.grafico-container{
	text-align: center;
	margin-bottom: 30px;
}

.grafico-full{
	width: 550px;
	height: 250px;
	display: block;
	margin: 0 auto auto;
}

.grafico-half{
	width: 240px;
	height: 150px;
	display: inline-block;
    margin: 5px 0 5px 5px;
    &:first-child{
        margin: 5px 5px 5px 0;
    }
}


.xchart-tooltip {
	position: absolute;
	background: #EEE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	-webkit-box-shadow: 0 1px 3px #000;
	-moz-box-shadow: 0 1px 3px #000;
	-ms-box-shadow: 0 1px 3px #000;
	-o-box-shadow: 0 1px 3px #000;
	box-shadow: 0 1px 3px #000;
	border-collapse: separate;
	display: none;
	font-size: 13px;
	color: #444;
}

.retratil{
	display: none;
	margin-top: 5px;
}

.center{
	margin:0 auto;
}
img, .moduleName, .navbarMenu li {
    user-select: none;
    -webkit-user-select: none;
}



.ui-tooltip{
    display: block !important;
    z-index: 3;
    position: absolute;
    background: lightgray;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    max-width: 30%;
    text-align: justify;
    word-wrap: break-word;
}


//Orientações 


.esquerda{ text-align: left !important; }
.centro { text-align:center !important; }
.direita{ text-align: -webkit-right !important; }
.cima { vertical-align: top; }
.meio { vertical-align: middle; }
.baixo { vertical-align: bottom; }
