
/*BARRA DE PROGRESSO*/

.meter { 
    height: 5px;  /* Can be anything */
    width: 98%;
    margin-left: 1%;
    position: relative;
    background: #c5c5c5;
    padding: 0px;
    border-radius: 5px;
    overflow: visible;
    
  }
  .meter > span {
    display: block;
    height: 100%;
   
    background-color: var(--primary-color);
  
    position: relative;
    overflow: hidden;
  
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .meter > .handle{
    background-color: var(--primary-color);
    height: 10px;
    width: 10px;
    position: absolute;
    top: -2.5px;
    border-radius: 50%;
    z-index: 2;
  }
  
  
  
  .pageNumber{
    text-align: center;
    line-height: 25px;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 22px;
    display: block;
    z-index: 3;
    color:white;
    background: var(--tertiary-color);
    border-radius: .2em;
  }
  
  
  .pageNumber:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-bottom-color: var(--tertiary-color);
      border-top: 0;
      margin-left: -5px;
      margin-top: -5px;
  }
  
  .pagePercentage{
      width: 40px;
      height: 20px;
      position: absolute;
      right: 6.5%;
      top: 3%;
      z-index: 2;
      font-size: 11px;
      color: #adadad;
      margin-top: 6px;
      font-weight: bold;
  }
  
  
