@media only all and (max-width: 400px){
	.logos_bar{
		
		height: 10% !important;
		
		
	}
}

@media only all and (max-width: 600px){
	.logo{
		width: 35% !important;
		left: 32.5% !important;

	}
}

@media only all and (max-width:900px){

	.conteudo {
		padding-right: 2px;
		padding-left: 2px;
		margin-bottom: 30px;
		//height: 625px !important;
		overflow-y: auto
	}
	
	h4,h3, li{
		font-size:12px;
	}

	body{
		left:0;
	}

	
	.capa-text{
		font-size: 22px !important;
		top: 45% !important;
		@media only all and (max-width:450px){	
			font-size: 22px !important;
			top: 40% !important;
		}
	}
	.capa-subtext{
		font-size: 20px !important;
		top: 60% !important;
	}

	.page {
		width: 100%;
		overflow-x: hidden;
		height: auto;
		min-height: 100%;
		max-height: 100%;
	}
	.conteudo{
		padding-right: 2px;
		padding-left: 2px;
		margin-bottom: 30px;
		//height: auto !important;
        
	}

	.modal-unidades > .page {

		width: 100%;
		overflow-x: hidden;
	}

	.page p{
		font-size: 12px !important;
	}

	.conteudo h2{
		font-size: 13px !important;
		line-height: 24px;
	}

	.header > .top {
		font-size: 11px;
		white-space: nowrap;
	}

	.bloco-centro .bloco-1{
		width: auto;
		margin: 0;
	}



	.bloco-centro .bloco-2{
		width: 20%;
		margin: 20px auto;
		display: block;
	}

	.breadcrumbs h1, .breadcrumbs .arrow{
		display: none;
	}

	.breadcrumbs > h2 {
		font-size: 13px;
		font-weight: 700;
		white-space: nowrap;
		display: block;
		text-align: center;
		float: none;
	}

	.header > ul.navbar {
		min-width: 240px;
		height: 40px;
	}

	.header > ul.navbar > li {
		width: 20px;
		height: 20px;
		margin-top: 8px;
	}




	

	.medidor-mid{
		margin: 60px auto 10px auto;
		display: block;
	}

	.medidor-mid:first-child{
		margin: 10px auto;
	}

	.grafico-full{
		width: 100%;
	}

	

	.iconeTE {
    top: 0;
    left: 0;
		}

		.iconeTE > span {
		    position: absolute;
		    color: #934f9e;
		    left: 0;
		    top: 0;
		}

		.iconeTE > span:before {
		    font-size: 67px !important;
		}

		.super_icone{
		   	overflow: hidden;
		   	margin: 0 !important;
		 }

		.super_icone > img{
		   	width:auto;
		}

	li .navigator { font-size: 21px; }

	

	/* .conteudo {
		height: 78% !important;
		min-height: 443px;
	} */

	.btn{
		font-size: 12px;
	}

	.ui-helper-reset {
		font-size: 85% !important;
	}

	.header p {
		padding: 5px 30px 5px 5px !important;
	}

	

	.modal-unidades .header .btn-close {
		width: 15px;
		height: 15px;
		line-height: 15px;
		font-size: 10px;
	}

	.vertical_tabs > ul.tabs_menu
	{
		list-style: none;
		margin: 0;
		padding: 0;
		float: left;
		width: 20%;
	}

	.ui-tabs-vertical .ui-tabs-nav{
		float: none;
		
		padding: 0 !important;
		text-align: center;
	}

	.vertical_tabs > ul.tabs_cont{
		list-style: none;
		margin: 0;
		padding: 0;
		float: right;
		width: 80%;
		clear: none;
	}
	.vertical_tabs > ul.tabs_menu > li{

		width: auto;
		display: inline-block;
		height: 25px;
		line-height: 25px;
		margin: 10px 0 5px 10px;
		padding: 5px 10px;
		cursor: pointer;
	}

	.ui-tabs-vertical .ui-tabs-nav > li{
		width: auto;
		display: inline-block;
		float: none;
	}

	.ui-tabs .ui-tabs-nav li {
		float: none !important;
	}

	.ui-tabs-vertical .ui-tabs-nav > li > a{
		width: auto;
	}
	.ui-tabs-vertical .ui-tabs-panel{
		float: none;
		padding: 3% !important;
		width: auto;

	}

	.ui-tabs-vertical .ui-tabs-panel{
		border-style: solid;
		border-width: 1px !important;
		border-color: #DBDBDB;
		border-top-color: #969696;
	}

	.image-right-tablet{
		
		float: right;
		margin: 5px 0 5px 10px;
	}

	.image-left-tablet{
		
		float: left;
		margin: 5px 10px 5px 0;
	}

	.image-center-tablet{
		display: block;
		margin: 5px auto;
	}
}

@media only all and (max-width:480px){



	.tamanho-phone-0{display:none;}

	.tamanho-phone-1{width:9.9%;}

	.tamanho-phone-2{width:19.9%;}

	.tamanho-phone-3{width:29.9%;}

	.tamanho-phone-4{width:39.9%;}

	.tamanho-phone-5{width:49.9%;}

	.tamanho-phone-6{width:59.9%;}

	.tamanho-phone-7{width:69.9%;}

	.tamanho-phone-8{width:79.9%;}

	.tamanho-phone-9{width:89.9%;}

	.tamanho-phone-10{width:99.9%;}

	.overflow-hidden-phone{
		overflow:hidden;
	}

	.image-right-phone{
		
		float: right;
		margin: 5px 0 5px 10px;
	}

	.image-left-phone{
		
		float: left;
		margin: 5px 10px 5px 0;
	}

	.image-center-phone{
		display: block;
		margin: 5px auto;
	}

}
@media only all and (max-width:320px){
	#navigator a.atual {
		margin-right: 5px;
		margin-left: 5px;
	}
	#navigator a.total {
		margin-right: 10px;
	}
}

