@font-face {
    font-family: 'ebookonline';
    /* src:    url('./fonts/ebookonline.eot?gmmtb5');
    src:    url('./fonts/ebookonline.eot?gmmtb5#iefix') format('embedded-opentype'),
        url('./fonts/ebookonline.ttf?gmmtb5') format('truetype'),
        url('./fonts/ebookonline.woff?gmmtb5') format('woff'),
        url('./fonts/ebookonline.svg?gmmtb5#ebookonline') format('svg'); */
        src:    
        url('./fonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ebookonline1';
    /* src:    url('./fonts/ebookonline.eot?gmmtb5');
    src:    url('./fonts/ebookonline.eot?gmmtb5#iefix') format('embedded-opentype'),
        url('./fonts/ebookonline.ttf?gmmtb5') format('truetype'),
        url('./fonts/ebookonline.woff?gmmtb5') format('woff'),
        url('./fonts/ebookonline.svg?gmmtb5#ebookonline') format('svg'); */
        src:    
        url('./fonts/icomoon1.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



[class^="icon-ebook-"], [class*=" icon-ebook-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ebookonline1' !important;
    /* speak: none; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ebook-arquivos:before {
    content: "\e900";
    font-size: 27px;
}
.icon-ebook-atencao:before {
    content: "\e901";
    font-size: 27px;
}
.icon-ebook-atividadelivroon:before {
    content: "\e902";
    font-size: 27px;
}
.icon-ebook-atividades:before {
    content: "\e903";
    font-size: 27px;
}
.icon-ebook-cafevirtual:before {
    content: "\e904";
    font-size: 27px;
}
/* .icon-ebook-cronograma:before {
    content: "\e905";
    font-size: 27px;
} */
.icon-ebook-faq:before {
    content: "\e906";
    font-size: 27px;
}
.icon-ebook-fonte:before {
    content: "\e907";
    font-size: 27px;
}

.icon-ebook-forum:before {
    content: "\e908";
    font-size: 27px;
}
.icon-ebook-livroonline:before {
    content: "\e909";
    font-size: 27px;
}
.icon-ebook-menu:before {
    content: "\e90a";
    font-size: 27px;
}
.icon-ebook-muraldeavisos:before {
    content: "\e90b";
    font-size: 27px;
}
.icon-ebook-objetivo:before {
    content: "\e90c";
    font-size: 27px;
}
.icon-ebook-observacao:before {
    content: "\e90d";
    font-size: 27px;
}
.icon-ebook-pdf:before {
    content: "\e90e";
    font-size: 27px;
}
.icon-ebook-pesquisa:before {
    content: "\e90f";
    font-size: 27px;
}
.icon-ebook-planejamento:before {
    content: "\e910";
    font-size: 27px;
}
.icon-ebook-reflitacomigo:before {
    content: "\e911";
    font-size: 27px;
}
.icon-ebook-refrencias:before {
    content: "\e912";
    font-size: 33px;
}
.icon-ebook-saibamais:before {
    content: "\e913";
    font-size: 27px;
}
.icon-ebook-sumario:before {
    content: "\e914";
    /*font-size: 27px;*/
}
.icon-ebook-tutorial:before {
    content: "\e915";
    font-size: 27px;
}
.icon-ebook-unidades:before {
    content: "\e916";
    font-size: 27px;
}
.icon-ebook-video:before {
    content: "\e917";
    font-size: 27px;
}.icon-ebook-favicon:before {
    content: "\e918";
    font-size: 27px;
}


/* 
news .icon*/
.icon-Smario:before {
    content: "\e905";
    font-size: 23.24px;
  }
  .icon-Crditos:before {
    content: "\e900";
    font-size: 33.58px
  }
  .icon-Fonte:before {
    content: "\e901";
    font-size: 19px;
  }
  .icon-Marcaes:before {
    content: "\e902";
    font-size: 27px;
  }
  .icon-Pginas:before {
    content: "\e903";
    font-size: 30.51px;
  }
  .icon-Referncias:before {
    content: "\e904";
    font-size: 19.71px;
  }

  
  

