$fadeR: 70px;
$fadeL:-70px;
$size: 0.8;
@-webkit-keyframes fadeImgLeft {
	0% {
		
		-webkit-transform: scale($size) translateX($fadeL);
	}
	100% {
		
		-webkit-transform: scale(1) translateX(0);
	}
 }
 @keyframes fadeImgLeft {
	0% {
		transform: scale($size) translateX($fadeL);
	}
	100% {
		transform: scale(1) translateX(0);
	}
 }
 @-webkit-keyframes fadeImgRight {
	0% {
	  
		-webkit-transform: scale($size)  translateX($fadeR);
	}
	100% {
	  
		-webkit-transform: scale(1) translateX(0);
	}
 }
 @keyframes fadeImgRight {
	0% {
	  
		transform: scale($size) translateX($fadeR);
	}
	100% {
	  
		transform: scale(1) translateX(0);
	}
 }


@-webkit-keyframes fadeIn {
	0% {
	  
		opacity: 0;
	}
	100% {
	  
		opacity: 1;
	}
 }
 @keyframes fadeIn {
	0% {
	  
		opacity: 0;
	}
	100% {
	  
		opacity: 1;
	}
 }
