
@font-face {
    font-family: 'abash';
    
        src:    
        url('./fonts/icomoon3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  @font-face {
    font-family: 'abasv';
    
        src:    
        url('./fonts/icomoon4.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }


[class^="abash-"], [class*=" abash-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'abash' !important;
    /* speak: none; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  [class^="abasv-"], [class*=" abasv-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'abasv' !important;
    /* speak: none; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  


.circ-select{
	text-align: center;
	.abas-circ-h{
		list-style: none;
		display: inline-block;
		margin-top: 0px;
		@media screen and (max-width: 900px){
			bottom: -22%;
			
		}
		.aba-circ-h{
			width: 10px;
			height: 10px;
			border: 1px  solid var(--primary-color);
			border-radius: 50%;
			display: inline-block;
			background-color:white;
			cursor: pointer;
		}
		.aba-circ-active{
			background-color: var(--primary-color);
		}	
	}

	.abas-circ-v{
		list-style: none;
		display: inline-block;
		margin-top: 0px;
		@media screen and (max-width: 900px){
			bottom: -22%;
			left: 31%;
			
		}
		.aba-circ-v{
			width: 10px;
			height: 10px;
			border: 1px  solid var(--primary-color);
			border-radius: 50%;
			display: inline-block;
			background-color:white;
			cursor: pointer;
		}
		.aba-circ-active{
			background-color: var(--primary-color);
		}	
	}

	.tabs-circ{
		list-style: none;
		display: inline-block;
		margin-top: 0;
		.tab-circ{
			width: 10px;
			height: 10px;
			border: 1px  solid var(--primary-color);
			border-radius: 50%;
			display: inline-block;
			background-color:white;
			cursor: pointer;
		}
		.tab-circ-active{
			background-color: var(--primary-color);
		}	
	}


	.slider-img-circ{
		list-style: none;
		display: inline-block;
		margin-top: 0px;
		.slide-img-circ{
			width: 10px;
			height: 10px;
			border: 1px  solid var(--primary-color);
			border-radius: 50%;
			display: inline-block;
			background-color:white;
			cursor: pointer;
		}
		.slide-img-circ-active{
			background-color: var(--primary-color);
		}	
	}
	.slider-circ{
		list-style: none;
		display: inline-block;
		margin-top: 0px;
		.slide-circ{
			width: 10px;
			height: 10px;
			border: 1px  solid var(--primary-color);
			border-radius: 50%;
			display: inline-block;
			background-color:white;
			cursor: pointer;
		}
		.slide-circ-active{
			background-color: var(--primary-color);
		}	
	}
	.cx-enum-circ{
		list-style: none;
		display: inline-block;
		// padding: 0;
		margin-top: 0px;
		.enum-circ{
			width: 20px;
    		height: 20px;
    		border: 1px solid var(--primary-color);
    		border-radius: 50%;
    		display: inline-block;
			background-color: white;
			cursor: pointer;
			line-height: 20px;
			color: var(--primary-color); 
		}
		.enum-circ-active{
			color: white;
			background-color: var(--primary-color);
		}	
	}
}