/* Modal-Fade styling thats used for all kinds of modals */

.modal-fade {
    display: none;
    
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
.modal-fade-front {
    display: none;
    
    background-color: transparent;
    opacity: 0.0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}